* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 10px;
  --primary-color: #6C5CE7;
  --secondary-color: #a29bfe;
  --dark-color: #2d3436;
  --light-color: #eeeeee;
}

html,
body {
  background: var(--light-color);
  min-height: 100%;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 3.2rem 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  margin: 3.2rem 0 1.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark-color);
}

.container select {
  background: var(--secondary-color);
  width: 100%;
  max-width: 35rem;
  height: 4rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--dark-color);
  outline: none;  
}

.container option {
  font-size: 1.6rem;
  color: var(--dark-color);
}

.btn-insert-text {
  background: var(--primary-color);
  width: 100%;
  max-width: 15rem;
  height: 4rem;
  margin: 1.6rem 0;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--light-color);
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-insert-text:hover {
  background: var(--secondary-color);
}

.cards {
  width: 100%;
  max-width: 150rem;
  padding: 0 1%;
  margin: 0 auto 3.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background: var(--primary-color);
  max-width: 35rem;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.card-img-container {
  width: 100%;
  height: 20rem;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--light-color);
}

.modal-container {
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 0 1%;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container.show {
  display: flex;
}

.modal {
  position: relative;
  background: var(--primary-color);
  width: 100%;
  max-width: 50rem;
  min-height: 20rem;
  padding: 1.6rem;
  border-radius: 0.5rem;
  transform: translateY(-2rem);
}

.show .modal {
  animation: show-modal 0.5s ease forwards;
}

@keyframes show-modal {
  from {
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(0);
  }
}

.modal p {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--light-color);
}

.modal textarea {
  width: 100%;
  height: 15rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin: 1.6rem 0;
  font-size: 1.4rem;
  color: var(--dark-color);
  outline: none;
  resize: vertical;
}

.btn-modal-speak {
  background: var(--secondary-color);
  color: var(--light-color);
  width: 100%;
  max-width: 15rem;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--light-color);
  outline: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.btn-modal-speak:hover {
  background: var(--light-color);
  color: var(--primary-color);
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--light-color);
  cursor: pointer;
}

@media (max-width: 400px) {
  .logo {
    max-width: 100%;
  }
}
